@tailwind base;
@tailwind components;
@tailwind utilities;

.hero:before {
  @apply
  absolute;
  inset: 0;
  z-index: 2;
}
.input {
  @apply  px-5 w-auto justify-center py-2 border rounded-lg bg-white shadow-lg placeholder-gray-400 text-gray-700 focus:ring focus:outline-none
}

.btn1 {
  @apply px-4 py-3 w-1/3 rounded-full bg-blue-300 text-blue-900 focus:ring focus:outline-none text-xl font-semibold transition-colors
}

.disabled {
  background-color: rgb(179, 179, 179) !important;
  color: black !important;
  pointer-events: none !important;
}

.selected {
  background-color: #4F45E5 !important;
  color: white !important;
}

.selected:hover {
  background-color: #6a62e0 !important;
}